
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
</head>
<body>
    <h3>Burası Kayauttur</h3>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
