<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Kayıt Ol</h3>
        <div class="login-agileits-top">
            <form  method="post">
                <input type="text" class="name" name="CustomerName" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="CustomerSurname" Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="CustomerCity" Placeholder="Şehir" required="" />
                <input type="email" class="mail" name="CustomerMail" Placeholder="Mail Adresiniz" required="" />
                <input type="password" class="password" name="CustomerSifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları okudum Kabul ediyorum<a href="#"> &amp;  </a></label>
                </div>
                <input type="submit" value="Kayıt Ol">
            </form>
        </div>
    </div>
</div>
