@model MvcOnlineTicariOtomasyon.Models.Class.Category
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelleme</h2> <br />
@using (Html.BeginForm("KategoriGuncelle", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x=>x.CategoryId)       
        @Html.LabelFor(x=>x.CategoryName)
        @Html.TextBoxFor(x=>x.CategoryName, new {@class="form-control" })
    </div>
    
    <button class="btn btn-warning">Güncelle</button>
}
