
@{
    ViewBag.Title = "Grafik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Grafik</h2>

<div style="width:600px; height:600px;">
    <img src="@Url.Action("Grafik","Graphic") /">

</div>